@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    background-color: #3abd75be; 
    color: ghostwhite;
}
		.subtitulo-especies{
			font-weight: bold;
			font-size: 1.5em;
			margin-right: 200px;
		}

		.reproducao{
			list-style-type: none;

		}

		.reproducao dl{
			margin-right: 30px;
			font-weight: 600;
			font-size: 1.17em;
		}

		.reproducao dd{
			color: gray;
		}
        .card{
            background-color: #227c38;
        }

