@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet');

:root {
   --cabecalho-menu: #FFF2E7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #0f3114 30.62%, #2a9249 70.61%);
}
.teste{
  box-sizing: border-box;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  color: var(--cabecalho-menu);
}

.cabecalho-imagem {
  height: 100px;
  width: 100px;
  margin-left: 0% ;
  background-image: url('index.html');
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}
#tabela{
  margin-right: 2%;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: var(--cabecalho-menu);
  font-weight: 400;
  font-size: 18px
  
}
.direcao{
    align-items: left;
}
.direcaoD{
  align-items: raight;
}
.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid var(--cabecalho-menu);
}


.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: var(--cabecalho-menu);
  text-align: center;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--cabecalho-menu);
}

.conteudo-principal-escrito-botao {
  background-color: var(--cabecalho-menu);
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(0, 0, 0, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
  justify-items: bottom;
  margin-top:2%;
  /*position: bottom;*/
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
 /* border-top: 0.4px solid var(--cabecalho-menu);*/
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: var(--cabecalho-menu);
  margin-bottom: 16px;
  text-align: center;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--cabecalho-menu);
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid var(--cabecalho-menu);
    
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
.justify{
  width: 700px; 
  
}
#trailer{ 
  text-align: center;
}
#video{
  border-left: 5000px;
}
.conteudoSec{
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--cabecalho-menu);
  width: 50%;
  text-align: left;
 margin-left: 25%;
}
#aqui{
  font-size: 26px;
  color: black;
}
#link{
  text-align: center;
  color: aliceblue;
}
button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #0400ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  overflow: hidden;
  transition: 0.001s;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  background-image :url(sobre.html);
 }
 
 button:hover {
  box-shadow: 0 0 10px #1d6dc9, 0 0 25px #1d6dc9, 0 0 50px #1d6dc9;
  transition-delay: 0.6s;
 }
 
 button span {
  position: absolute;
 }
 
 * {
  box-sizing: border-box;
}

#cadastrobody {
  background: #fff;
  font-family: font;
  margin: 0;
  padding: 0;
}
